@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Roboto&family=Roboto+Condensed&display=swap");
:root {
  --blue-color: #2b4074;
  --white-color: #ffffff;
  --gray-color: #f9f6e5;
  --main-font-color: #4a4a4a;
  --secondary-font-color: #9b9b9b;
  --font-roboto-condensed: "Roboto Condensed", "Roboto", Arial, sans-serif;
  --font-roboto: "Roboto", Arial, sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1440px;
  margin: 0px auto;
}
header.intro {
  background-color: var(--blue-color);
  height: 100px;
}
header img {
  position: relative;
  left: 4.25%;
  top: 15%;
}
.btn-menu {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: var(--white-color);
  float: right;
  top: 30px;
  right: 10.3%;
  border-radius: 3px;
}
.btn-menu img {
  position: relative;
  top: 32%;
  left: 32%;
  width: 35%;
  height: 35%;
}
section.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(/images/bg-img.jpg);
  width: 100%;
  height: 668px;
  color: var(--white-color);
  text-align: center;
  z-index: 0;
  position: relative;
}
.overlay {
  position: absolute;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  background: rgba(33, 33, 33, 0.5);
  z-index: 1;
}
.intro h1 {
  font-family: var(--font-roboto-condensed);
  letter-spacing: 2px;
  line-height: 96px;
  font-size: 96px;
  text-transform: uppercase;
  margin-top: 7.5%;
  margin-bottom: 0px;
  position: relative;
  z-index: 2;
}
section.intro p {
  font-family: var(--font-roboto-condensed);
  font-size: 24px;
  line-height: 26px;
  position: relative;
  z-index: 2;
}
.arrow {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 95.2%;
  z-index: 2;
}
.arrow.prev {
  background-color: var(--blue-color);
  top: 39.5%;
}
.arrow.next {
  background-color: var(--white-color);
  top: 50%;
}
.arrow.next img {
  position: relative;
  width: 35px;
  height: 35px;
  top: 24%;
}
.arrow.prev img {
  position: relative;
  width: 35px;
  height: 35px;
  top: 24%;
}
a.btn {
  position: relative;
  text-transform: uppercase;
  margin: 0px auto;
  z-index: 2;
  font-family: var(--font-roboto);
  line-height: 18px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 18px;
}
a.btn.more {
  padding: 18px 47px 14px 46px;
  margin-top: 5px;
  background-color: var(--blue-color);
  color: var(--gray-color);
}
a.btn.call {
  top: 38%;
  left: 15%;
  height: 18px;
  font-weight: 600;
  background-color: var(--gray-color);
  color: var(--blue-color);
  padding: 16px 15px 16px 16px;
  letter-spacing: 0.3px;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  top: 18.7%;
}
.pag-el {
  margin: 0px 5px 0px 5px;
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  border-radius: 5px;
}
.pag-el.current {
  width: 9px;
  height: 9px;
  border: 1px solid var(--white-color);
  background-color: rgba(0, 0, 0, 0);
}
section.promo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 0px auto;
  width: 100%;
  height: 192px;
  background-color: var(--blue-color);
}
div.promo-text {
  position: relative;
  left: 10.6%;
  top: 16.7%;
}
div.promo-text h3 {
  color: var(--white-color);
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-roboto);
  font-weight: 500;
  margin-bottom: 10px;
}
div.promo-text p {
  margin-top: 10px;
  position: relative;
  color: var(--white-color);
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
section.all-services {
  display: grid;
  grid-template-columns: 36% 64%;
}
div.block-of-services {
  height: 546px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}
div.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12%;
}
h2 {
  text-transform: capitalize;
  font-family: var(--font-roboto-condensed);
  font-size: 48px;
  line-height: 56.25px;
  font-weight: 400;
}
h2.service {
  color: var(--blue-color);
  margin-top: -5%;
}
div.text-block h3 {
  margin-top: 7%;
  margin-bottom: 7%;
  font-family: var(--font-roboto);
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: var(--main-font-color);
}
.line-separator {
  height: 8px;
  width: 100px;
  background-color: var(--blue-color);
}
div.text-block p {
  font-family: var(--font-roboto);
  color: #797979;
  font-size: 18px;
  line-height: 24px;
  margin-right: 10%;
  margin-top: 7%;
}
div.service {
  border: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.service:hover {
  box-shadow: inset 4px 4px var(--blue-color),
    inset -4px -4px 0px 0px var(--blue-color);
}
img.icon-service {
  margin-top: 36%;
  width: 64px;
  height: 64px;
}
p.popup-text {
  display: none;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 18px;
  color: var(--secondary-font-color);
  font-weight: 500;
  margin-top: 13%;
}
p.popup-text span {
  font-family: var(--font-roboto-condensed);
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  color: var(--blue-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10%;
}
div.service:hover > a > .popup-text {
  display: flex;
  flex-direction: column;
}
div.service:hover > a > img.icon-service{
  margin-top: 12%;
}

p.name-service {
  color: var(--main-font-color);
  font-family: var(--font-roboto-condensed);
  font-size: 16px;
  line-height: 18.75px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

